body{
    padding-top: 70px !important;
    /* padding-left: 200px; */
    
}
.header{
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding: 0 20px;
    
}
.btn-yt{
    font-size: 25px;
    background: none;
    border: none;
    margin-right: 20px;
    
}
.flex{
    display: flex;
}

.style-icon{
    font-size: 25px;
    padding-top: 5px;
}
.search-group{
    text-align: center;
    padding:10px 0;
    width: 65%;
    
}
.box-search{
    width: 50%;
    padding: 3px 10px;
}
.title-yt{
    font-weight: 550;
    font-size: 20px;
    font-family: 'Roboto','Arial';
    letter-spacing: -1px;

}

.btn-search{
    
    padding: 3px 25px;
    margin-left: -5px;
    
}
.end-header{
    text-align: right;
    width: 15%;

}
.btn-end{
    background: none;
    border: none;
    font-size: 23px;
    padding: 10px 10px;
    margin-right: 3px;
    color: #777777;
    
}
.icon-bar{
    font-size: 22px;
    margin-right: 20px;
    color: #777777;
    
}
.link{
    display: block;
    line-height: 40px;
    padding: 0 25px;
    color: inherit;
    text-decoration: none;
    
}
.link:hover{
    text-decoration: none;
    background-color: rgb(223, 230, 233,0.8);
    color: inherit;
}
.nava-bar{
    padding: 0px;
    margin: 0;
    width: 100%;
}

.bar-between{
    
    border-bottom:1px solid black ;
    padding: 10px 0;
    margin-top:10px ;
}
.side-bar{
    width: 15%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    z-index: 900;
    background-color: white;

}
.video{
    width: 270px;
    height: 160px;
}
iframe,img{
    width: 100%;
    height: 100%;
}
.title-content{
    width: 270px;
    height: 90px;
}
.content-video{
    padding-top: 40px;
}
.col-content{
    margin-bottom: 40px;
    /* margin-right: 5px; */
}
.content-content{
   margin-right: 30px!important;
   padding: 0!important;
   
}
.logo{
    width: 20%;
}










