<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQVrsNL5cg4vg_i-bqZEig7apXBj3c2FQbJQNnh8op_zu2XN-7V&usqp=CAU" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1 class="title">Login</h1>
        <div class="box-input">
            <form action="doLogin" method="POST">
                <input class="text" type="text" name="txtName" placeholder="Email">
                <input class="text" type="password" name="txtPassword" placeholder="Password">
                <input class="submit" type="submit" value="Sign in">
            </form>
        </div>

    </div>
</body>
</html>