<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/bf/e7/b2/bfe7b2008671ba5e95578d7fe33fc8a9.png" type="image/x-icon">
</head>

<body>

    <div class="container">
        <h1 class="title">Insert Product</h1>
        <div class="box-input">
            <form action="doInsert" method="POST">
                <input class="text" type="text" name="txtName" placeholder="Name">
                <input class="text" type="text" name="txtAuthor" placeholder="Author">
                <input class="text" type="text" name="txtPrice" placeholder="Price">
                <textarea class="text" name="txtDetail" cols="36" rows="10" placeholder="Detail"></textarea>
                <input class="submit" type="submit" value="Insert product">
            </form>
        </div>
    </div>
</body>

</html>