@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/home.css">

<div class="content-box">
    <div class="box-title slide">
        <h1 class="home-title">Trainning Program</h1>
    </div>
</div>