
@{
    ViewBag.Title = "_Admin";
    Layout = null;
}
<ul class="navbar-nav mr-auto">

    <li class="nav-item text-white">
        
        @Html.ActionLink("Trainning Staff", "GetTrainingStaff", "Admin", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item text-white">
        @Html.ActionLink("Trainer", "GetTrainers", "Admin", null, new { @class = "nav-link" })
    </li>
  
    

</ul>

