.logo{
    text-align: right;
}
.logo a{
    padding: 0.5rem;
    color: rgb(180, 173, 158);
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
p{
    font-family: 'Playfair Display', serif;
}
.content-2{
    
    background-color:rgb(240,240,240) ;
}
.content-recomment{
    padding: 2rem 1.5rem;
}
.item-comment{
    display: flex;
    padding: 1rem 0;
}

.img-comment{
    width: 90px;
   
}
.img-comment img{
   border-radius: 50%;
}
.comment{
    width: 100%;
}
.btn-reply{
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    color: rgb(180, 173, 158);
    font-size: 14px;
}
.comment h2{
    font-size: 14px;
}




@media screen and (max-width:500px){
    .logo{
        text-align: center;
    }
    .item-comment textarea{
        font-size: 0.5rem;
    }
}
