.product-list{
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    box-shadow: 0px 0px 5px 2px rgb(169, 169, 169);
}
.card-product-item{
    display: flex;
    border-bottom: 1px solid rgb(162, 162, 162);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.card-product-item:last-child{
    margin: 0;
    border: none;
    padding: 0;
}
.card-product-item .product-img{
    max-width: 130px;
    margin-right: 1.5rem;
}
.cart-product-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: .3rem;
}
.infor-product-area{
    /* width: 50%; */
}
.infor-product-area p{
    margin-bottom: .2rem;
    font-size: .9rem;
}
.infor-product-area .name-product{
    font-weight: bold;
    font-size: 1rem;
}
.product-price{
    color: #08BBB7;
    font-size: 1rem;
    font-weight: bold;
}
.cart-product-content .product-quantity input{
    max-width: 3rem;
    text-align: center;
}
.cart-product-content .product-quantity button{
    border: 1px solid black;
    outline: none;
    width: 1.5rem;
    background: none;
    text-align: center;
}

.btn-delete{
    display: inline-block;
    margin-top: 1rem;
}

/* voucher */
.card-voucher-area{
    padding: 1rem;
    box-shadow: 0px 0px 5px 2px rgb(169, 169, 169);
    margin-bottom: 2rem;
}
.card-voucher-area .card-title-voucher{
    color: #08BBB7;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.card-voucher-area input{
    margin-bottom: 1rem;
}
.card-voucher-area .btn-apply-voucher{
    background-color: #08BBB7;
    border: none;
    outline: none;
    padding: .2rem 1rem;
    color: #fff;
}
.cart-total-price-area{
    padding: 1rem 1rem;
    box-shadow: 0px 0px 5px 2px rgb(169, 169, 169);
    margin-bottom: 2rem;

}
.cart-total-price-area div{
    border-bottom: 1px solid rgb(169, 169, 169);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.cart-total-price-area .price-item:last-child{
    border: none;
}
.cart-total-price-area .price-item span{
    display: block;
}
.cart-total-price-area .price-item .title-price{
    font-weight: bold;
}
.cart-total-price-area .price-item .price{
    color: #08BBB7;
}
.cart-total-price-area .price-item .total-price{
    color: rgb(245, 35, 35);
    font-size: 1.5rem;
}
.btn-order{
    background-color: red;
    color: #fff;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    /* width: 100%; */
    padding: .5rem 0;
    display: block;
    text-align: center;
    text-transform: uppercase;

}
.btn-order:hover{
    color: white;
}
@media screen and (min-width:768px){
    .btn-delete-md{
        display: block;
    }
    .btn-delete-sm{
        display: none;
    }
}

@media screen and (max-width:768px){
    .product-price{
        margin-bottom: .5rem;
    }
    .cart-product-content{
        flex-wrap: wrap;
    }
    .btn-delete-md{
        display: none;
    }
    .btn-delete-sm{
        display: block;
    }
}
.empty-cart{
    display: none;
}
.empty-cart p{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.empty-img img{
    width: 10rem;
}
.empty-img{
    text-align: center;
    margin-bottom: .5rem;
}