.location{
    width: 100%;
}
.location iframe{
    width: 100%;
    height: 35rem;
}
.contact-icon span{
    display: inline-block;
    margin-right: .5rem;
    font-size: 1.5rem;
}
.contact h5{
    font-family: 'Playfair Display', serif;
    
}
.contact p{
    font-weight: bold;
}